
html {
    background-image: url(https://home.usm.edu/sites/default/files/2017-05/Computer%20Science%20Social%20Preview%201200x600-min.jpg);
}





body {
    background-image: url(http://i.imgur.com/F3EAwzn.png);
    background-size:cover
}

h2 {
    font-family:monospace
}



img {
    width: 20%;
}
